<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.2.xsd"
    default-init-method="defaultInit"
    default-destroy-method="defaultDestroy">

	<bean id="person" 
		class="br.com.springframework.test.Person" 
		init-method="initPerson">
		<property name="name" value="Felipe" />
	</bean>

<!--  	<bean id="mobile" 
		class="br.com.springframework.test.Mobile"
		init-method="initMobile"/> -->
			
	<bean class="br.com.springframework.test.MyPostProcessor" />
	
	<context:annotation-config/>
	
</beans>
